.question {
  background-color: #fbfafb;
  padding: 30px;
  min-height: 100%;

  /* ================= Question ================= */
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  &__title {
    font-size: 22px;
    max-width: 70%;
  }

  &__item-container {

  }

  &__item {
    padding: 25px 20px;
    border: solid 1px $grey-lighter;
    background-color: white;
    display: flex;

    &--answer {
      border: none;
      border-bottom: 1px solid $grey-slight-dark;
      background-color: transparent;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  &__item-info {
    width: 50px;
  }

  &__item-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 5px $grey-light;
  }

  &__item-vote {
    font-size: 20px;
    font-weight: 600;
    color: $grey-darker;
    text-align: center;
  }

  &__item-up {
    margin: 10px auto 15px;
    cursor: pointer;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 15px solid $grey-darker;
    transition: border-bottom-color .3s;

    &:hover {
      border-bottom-color: $green-light;
    }
  }

  &__item-fav {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    background-image: url("/static/icon-favorite.svg");
  }

  &__item-content {
    padding-left: 20px;
    width: calc(100% - 50px);
  }

  &__item-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__item-name {
    font-weight: 600;

    a {
      color: $black-light;
      transition: color .3s;

      &:hover {
        color: $green;
      }
    }
  }

  &__item-reputation {
    font-size: 14px;
    color: $grey-light;
  }

  &__item-metadata-container {
    display: flex;
  }

  &__item-metadata {
    display: flex;
    margin-left: 20px;
  }

  &__item-metadata--light {
    font-size: 12px;
    color: $grey-light;
  }

  &__item-metadata--bold {
    font-size: 12px;
    font-weight: 600;
    color: $grey-darker;
    margin-left: 5px;
  }

  &__item-body {
    font-size: 15px;
    line-height: 21px;
  }

  /* ================= Question's Answers ================= */
  &__answer-container {

  }

  &__answer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0 0;
    border-bottom: 1px solid $grey-slight-dark;

    &--bot {
      margin-bottom: 15px;
      padding-bottom: 5px;
    }
  }

  &__answer-submit {
    margin-top: 10px;
    font-weight: bold;
  }
}

.modal-tx {
  padding: 50px 30px;

  &__title {
    font-family: $font-cera;
    font-weight: 500;
    font-size: 26px;
    margin: 0 0 25px;
  }

  a {
    color: $green;
    transition: color .3s;

    &:hover {
      color: $green-light;
    }
  }
}
