.questions {
  background-color: #fbfafb;
  padding: 30px;
  margin-top: 25px;

  /* ================= Header ================= */
  &__header {
    &-count {
      margin-right: 15px;
    }
  }

  &__header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__header-title {
    font-size: 36px;
  }

  &__header-bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__header-count {

  }

  /* ================= Body ================= */
  &__body {

  }

  &__body-item {
    padding: 20px 25px;
    border: solid 1px $grey-lighter;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

  &__body-item-div {
    &:first-child {
      display: flex;
      width: 200px;
      justify-content: space-between;
    }

    &:last-child {
      width: calc(100% - 250px);
    }
  }

  &__body-item-data {
    font-size: 12px;
    font-weight: 600;
    color: $grey-light;
    border: 1px solid transparent;
    text-align: center;

    &.active {
      border-color: $green;
    }

    &.answered {
      background-color: $green;
    }
  }

  &__body-item-count {
    font-size: 16px;
    color: $grey-darker;
  }

  &__body-item-title {
    font-weight: 600;
    color: $green;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
  }

  &__body-item-info {
    font-size: 12px;
    color: $grey-light;
  }

  &__body-item-user {

  }
}

.ask-question {
  padding: 50px 30px;

  &__title {
    font-family: $font-cera;
    font-weight: 500;
    font-size: 26px;
    margin: 0 0 25px;
  }

  &__field {
    margin-bottom: 20px;
  }

  &__field-title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
  }
}
