#ranking {
  padding: 25px 25px 0;
  background-color: #fafafa;
  min-height: 100%;
  .sub-header {
    display: flex;
    margin-top: 15px;
    justify-content: flex-end;
    .sub-item {
      padding: 5px 20px 10px;  
      border-bottom: 1px solid #eee;
      color: #666666;
      font-size: 14px;
      &:hover {
        cursor: pointer;
      }
      &.active {
        border-bottom: 2px solid #31cb9e;
        &:hover {
          cursor: default;
        }
      }
    }
  }
  .ranking {
    margin-top: 30px;
    .rank {
      display: flex;
      justify-content: space-between;
      .user {
        width: 32%;
        text-align: center;
        padding: 20px 0px;
        border: 1px solid #eee;
        .avatar {
          display: flex;
          justify-content: center;
          .img {
            height: 60px;
            width: 60px;
            // background-color: #ccc;
            border: 1px solid #eee;
            border-radius: 50%;
            position: relative;
            // background-image: url(/images/cuongnguyen.jpeg);
            // background-position: center;
            // background-size: contain;
            // overflow: hidden;
            .avatar-canvas {
              margin-top: 4px;
            }
            .degree {
              position: absolute;
              height: 28px;
              width: 28px;
              border-radius: 50%;
              // background: #eee;
              bottom: 6px;
              right: -8px;
              color: white;
              line-height: 28px;
              font-size: 11px;
            }
          }
        }
        &:first-child {
          .degree {
            background-color: #ef8100;  
          }
        }
        &:nth-child(2) {
          .degree {
            background-color: #f4b403;
          }
        }
        &:nth-child(3) {
          .degree {
            background-color: #fad348;
          }
        }

        .name, .location, .vote {
          margin-top: 10px;
        }
        .name {
          a {
            color: #666666;
          }
        }
        .location {
          color: #999999;
          font-size: 12px;
        }
        .vote {
          padding: 5px 10px;
          border-radius: 15px;
          background-color: #ddd;
          font-size: 15px;
          color: #222222;
          max-width: 90px;
          margin: 5px auto;
        }
        div:last-child {
          margin-top: 3px;
          color: #999999;
          font-size: 13px;
        }
      }

      &.top-rank {
        .user {
          background-color: white;
        }
      }

      &.normal-rank {
        margin-top: 20px;
        margin-bottom: 30px;
        .row {
          display: flex;
          justify-content: space-between;
          width: 100%;
          border-bottom: 1px solid #eee;
          margin-top: 15px;
          .user {
            widows: 200px;
            display: flex;
            padding: 0;
            border: none;
            align-items: center;
            text-align: left;
            // justify-content: space-between;
            .avatar {
              padding: 10px;
              .img {
                height: 50px;
                width: 50px;
                display: flex;
                justify-content: center;
              }
            }
            .user-info {
              .normal-vote {
                position: relative;
                padding-left: 10px;
                &::before {
                  content: "";
                  position: absolute;
                  height: 8px;
                  width: 8px;
                  background-image: url(/static/fame.svg);
                  background-size: contain;
                  background-position: center;
                  left: -1px;
                  top: 3px;
                }
              }
            }
          }
        }
      }
    }
  }
}
